<h1>EMAIL COLLECTOR</h1>


<h2>Email Please</h2>


<form method="post" action="/emails">
  <ul>

    <li>
      <label for="email">Email</label>
      <input type="text" id="email" name="email"/>
    </li>

    <input type="submit" value="SUBMIT" />
    </li>
  </ul>
</form>
