<h2>Email Please</h2>

<form method="post" action="/registrations">
  <ul>

    <li>
      <label for="email">Email</label>
      <input type="text" id="email" name="email"/>
    </li>

      <input type="submit" value="Register" />
    </li>
  </ul>
</form>
