development:
  adapter: postgresql
  encoding: unicode
  database: sinatra_from_scratch
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: sinatra_from_scratch
  pool: 5
  username: gschool
  password:
